{
  "extends": ["eslint:recommended", "plugin:node/recommended", "prettier"],
  "plugins": ["node", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-console": 0
  }
}
